@import '~bootstrap/scss/bootstrap';

a {
    text-decoration: none;
    color: black;
}

a.active {
    color: blue;
}

img {
    max-width: 100%;
}

#jumbo {
    background: url('../img/images/jumbotron.jpg') no-repeat;
    background-size: cover;

    div.jumbo {
        position: relative;
        height: 320px;

        span {
            position: absolute;
            // left: 10px;
            bottom: -25px;
            padding: 20px 30px;
            background-color: blue;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            font-size: 25px;
        }
    }
}

main {
    background-color: rgba(28, 28, 28);
}

.container-comics {
    padding-top: 3.5rem;
    padding-bottom: 8rem;

    .comics-main {
        padding: 1rem;

        .row {
            row-gap: 70px;

            .my-card {
                height: 200px;
                width: calc(100% / 6);
        
                .img-box {
                    height: 95%;
                    overflow-y: hidden;
                }
        
                p {
                    margin-top: 15px;
                    width: 85%;
                }
            }
        }
    }

    
}
